
.Add{
display: flex;
justify-content: center;
justify-items: center;
margin-bottom: 20px;


}
.center{
 margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(1, 44, 1);
  text-decoration: underline;
  text-shadow: 50px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.card-item{
  display: flex;
  justify-content: space-around;
 
 

}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(1, 44, 1);
  
  text-shadow: 50px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(
      190deg,
      rgb(77, 131, 109) 0%,
      rgb(244, 250, 248) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #222;
    overflow: hidden;
  }
  
.all{ 
  margin-bottom: 70px;
  border: 1px solid black;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;

}

